.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f3e6bb;
  margin: 0;
  padding: 0;
}

/* Adjust the padding or margin of the content below the header */
body .content {
  height: 100vh;
  padding-top: 50px;
}


/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.form-container {
  height: 100vh; /* Adjust the percentage as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3e6bb;
  /* padding: 60px; */
  border: none;
  /* border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  margin: 0;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

h2 {
  /* margin-bottom: 10px; */
  color: #555;
  font-family: "Poppins"
}

input[type="text"],
input[type="password"],
button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #536a78;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.header {
  display: flex;
  align-items: center; /* Center vertically */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4d486;
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: "Pacifico";
}

.tabs {
  display: flex;
  align-items: center; /* Align tabs to the top */
  margin-top: 10px; /* Add some space from the top */
  margin-right: 10px;
  margin-left: auto;
}

.tab {
  padding: 10px 40px;
  margin-right: 40px;
  color: #555;
  background-color: #f4d486;
  font-size: 15px;
  font-family: "Poppins";
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 0; /* Remove any bottom margin */
}

.tab:hover {
  background-color: #e0b341;
}



/* styles.css */

.category h2 {
  padding-left: 50px;
}

.netflix-row {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 10px; /*Add space between items*/
  /* padding: 20px; Add padding to the row */
  width: 100%;
  /* You can add additional styles as needed */
  /* padding-left: px; */
  /* background-color: #f4d486; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */


}

.netflix-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
}

.book-list {
  display: inline-flex; /* or display: inline-flex */
  font-family: "Poppins";
  /* height: 2448px; */
  unicode-bidi: isolate;
  width: 210px;
  padding: 10px;
  margin-right: 30px;
  margin-left: 30px;
}


/* .book-item {
  flex: 0 0 auto;
  /* padding: 10px; */
  /* width: 200px; */
  /* border: 1px solid #ccc;
  border-radius: 5px; */
  /* margin-right: 10px;
} */

.book-item {
  position: relative;
  display: flex; 
  align-items: flex-start;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "Poppins";
  height: 175px;
  /* padding: 30px; */
  margin-right: 40px;
  unicode-bidi: isolate;
  width: 125px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */

}


.book-item img {
  width: 125px;
  height: 175px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */

  /* margin-right: 50px; */
}


.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f4d486;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  width: 115px;
  height: 165px;
  transform: translate-Y(100%);
  opacity: 0;
  margin: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;

  /* font-family: "Poppins"; */
}

.book-item:hover .book-details {
  transform: translate-Y(0);
  opacity: 0.91;
}

.book-details h4 {
  margin-top: 40px;
  margin-bottom: auto;
  /* margin-right: 15px; */
  font-size: 16px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  /* align-self: center; */
  /* white-space: nowrap; */
  max-width: 100%;
}

.book-details p {
  margin: 0;
  font-size: 10px;
  color: #555;
  padding: 0;
}

.add {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  align-self: flex-end;
  background-color: transparent;
  font-size: 20px;
  color: black;
  border: 0;
  margin: 0;
  padding: 10;
  margin-right: 0.5rem;
}


.add:hover {
  background-color: #e0b341;
}
